---
import RegionButton from "../components/RegionButton.astro";


---
<section class="flex flex-col gap-4 max-w-96">
    <h1>Los mejores productos para crecer</h1>
    <RegionButton server:defer/>
</section>